.slider__arrow-letf {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
}

.slider__arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
    z-index: 5;

}

.burger__composition {
  position: absolute;
  top: 0;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(80px);
  height: rem(80px);
  background: #f08c33;
  border-radius: rem(5px);
  font-size: 14px;
  font-family: "Gagalin";
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 5;

  &:hover {
    background: #e35028;
  } 
}


.burger__composition-img {
  margin-bottom: 5px;
}

.burger__popup {
  position: absolute;
  display: /*flex*/none;
  top: 0;
  left: 12.6%; 
  width: rem(270px);
  height: rem(330px);
  background: #fff;
  border-radius: rem(5px);
  padding: rem(20px);
  z-index: 5;

  @include phon {
    left: 4%;
    top: 17.5%;
    width: rem(240px);
  }
}

.popup__lits {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.popup__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popup__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(50px);
  height: rem(50px);
}

.popup__ingredient {
  margin-left: rem(20px);
}

.popup__weight {
  margin-left: auto;
}

.popup__exit {
  position: absolute;
  top: 2%;
  left: 90%;
}

.burger__calories {
  position: absolute;
  bottom: 0%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(80px);
  height: rem(85px);
  background: transparent;
  border-radius: rem(5px);
  font-size: rem(14px);
  font-family: "Gagalin";
  color: #f9d19d;
  text-transform: uppercase;

  @include tab {
    top: 1%; 
    left: auto;
    right: 3%;    
	}
}

.burger__calories-img {
  margin-bottom: 5px;
}

.burger_calories-number {
 position: absolute;
 top: 35%;
 left: 35%; 
 font-size: rem(16px);
}
