.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__content {
	display: flex;
	justify-content: center;
  align-items: center;
  padding: 0 rem(16px); 

	@include tab {
    flex-direction: column;
	}
	
  @include phon {
		padding: 0% 0%;
	}

}

.slider__item {
  display: flex;
  align-items: center;
  
  @include tab {
		flex-direction: column;
	}
}

.slider__content-pic {
	width: 50%;

	@include tab {
		text-align: center;
		width: 80%;
	}
	
	@include phon {
		text-align: center;
		width: 100%;
		padding: 0 10%;
  }
}

.slider__content-img {
	max-width: 95%;
}

.slider__content-text {
	text-align: left;
	width: 50%;
	
	@include tab {
		text-align: center;
		width: 80%;
	}
	
	@include phon {
		text-align: center;
		width: 100%;
	}
}

.slider__caption {
  color: #fff;
		
	@include tab {
		font-size: rem(50px);
	}
  
	@include phon {
		font-size: rem(45px);		
	}
}

.slider__content-decs {
	font-family: ubuntu;
  font-size: rem(14px);
  line-height: 1.4;
	color: #fff;

	@include phon {
		font-size: rem(10px);		
	}
}

.burger__price {
  display: flex;
  align-items: center;

  @include tab {
		justify-content: center;
	}
}

.burger__price-text {
  font-size: rem(71px);
  font-family: "Gagalin";
  color: rgb(227, 80, 40);
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-right: rem(35px);

  @include phon {
    font-size: rem(50px);	
    margin-right: rem(15px);	
	}
}

.burger__price-subtext {
  font-size: rem(30px);
  margin: 0;
  padding: 0;
}

.burger__button {
  font-size: rem(14px);
}