.footer {
 display: flex;
 position: absolute;
 width: 100%;
 min-height: 60px;
 bottom: 0;
 background: url(../../../ifc/footerbg.png)
}

.footer__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  width: 50%;
  min-height: 60px; 
  font-size: 14px;
  font-family: "Ubuntu";
  text-align: left;
}

.footer__adress {
  display: flex;
  width: 100%;
}

.footer__phone {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #e45028;
  font-weight: 500;
  text-decoration: none;
}

.footer__phone:before {
  content: "";
  display: flex;
  width: 12px;
  height: 12px;
  background: url(../../../ifc/phone.png) center center no-repeat;
  margin-right: 10px;
  }

.footer__right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  min-height: 60px;
}

.social__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social__item {
  margin-right: 20px;
}

.social__item:nth-child(4) {
  margin-right: 0px;
}

.social__bg {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 23px;
  height: 23px;
}

.social__img-vk {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../../../ifc/fsp.png) -10px 4px no-repeat;

  &:hover{
    background: url(../../../ifc/fsph.png) -10px 4px no-repeat;
    transition: .5s;
  }
}

.social__img-fb {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../../../ifc/fsp.png) -10px -23px no-repeat;

  &:hover{
    background: url(../../../ifc/fsph.png) -10px -23px no-repeat;
    transition: .5s;
  }
}

.social__img-inst {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../../../ifc/fsp.png) -9px -53px no-repeat;
  
  &:hover{
    background: url(../../../ifc/fsph.png) -9px -53px no-repeat;
    transition: .5s;
  }
}

.social__img-tw {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../../../ifc/fsp.png) -9px -80px no-repeat;

  &:hover{
    background: url(../../../ifc/fsph.png) -9px -80px no-repeat;
    transition: .5s;
  }
}
