.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 84px;
  font-family: "ubuntu";
  font-size: 13px;
  font-weight: 500;
  padding-top: 12px; }

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92px;
  height: 69px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }
  .nav:nth-child(6) {
    padding-right: 0px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0px 14px; }
  .nav__item:nth-child(6):after {
    width: 0px;
    height: 0px;
    margin-right: 0px; }

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }
  .nav__link:hover {
    text-decoration: underline; }
