.home {
	position: relative;
	background: url(../../../ifc/video-bg.jpg) center center/cover no-repeat #80898e;
	width: 100%;
	height: 100vh;
	min-height: 650px; 
	background-size: cover;
}

.home_scroll {
	position: absolute;
	top: 595px;
	left: 776px;
}