.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .7;
  -ms-flex: .7;
  flex: .7;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.home__img {
  max-width: 95%; }

.home__content-text {
  text-align: left; }

.home__content-decs {
  font-family: lifehack;
  font-size: 63px;
  line-height: .9;
  color: #fff; }

.home_scroll {
  position: absolute;
  top: 85%;
  left: 50%; }
