.home__container {
	display: flex;
	flex: .7;
	justify-content: center;
	align-items: center;
}

.home__content {
	display: flex;
	justify-content: center;
	align-items: center; 

	@include tab {
    flex-direction: column;
	}
	
  @include phon {
		padding: 0% 0%;
	}

}

.home__content-pic {
	width: 50%;

	@include tab {
		text-align: center;
		width: 80%;
	}
	
	@include phon {
		text-align: center;
		width: 100%;
		padding: 0 10%;
  }
}

.home__img {
	max-width: 95%;
}

.home__content-text {
	text-align: left;
	width: 50%;
	
	@include tab {
		text-align: center;
		width: 80%;
	}
	
	@include phon {
		text-align: center;
		width: 100%;
	}
}

.home__caption {
		
	@include tab {
		white-space: nowrap;
	}
  
	@include phon {
		white-space: normal;
		font-size: rem(45px) !important;		
	}
}

.home__content-decs {
	font-family: lifehack;
  font-size: rem(55px);
  line-height: .9;
	color: #fff;

	@include phon {
		font-size: rem(40px);		
	}
}

.home_scroll {
	position: absolute;
	top: 85%;
	left: 50%;
}

