.ordering {
  text-align: center;
}

.ordering__caption {
  padding-top: 120px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 265px;  
}

.form__column {
  width: 49%;
}

.form__row {
  display: flex;
  margin-bottom: 20px;
}

.form__item {
  flex: 1 1 0%;
  margin-right: 20px;
  text-align: left;
}

.form__label {
  color: #fff;
  font-size: 14px;
  font-family: "Ubuntu";
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  min-height: 35px;
  padding-left: 20px;
  padding-right: 20px; 
}

.form__input--textarea {
  height: 111px;
  resize: none;
}