.sidebar {
	display: block;
	position: fixed;
	top: 15%;
	right: 3%;
}

.sidebar__link {
	display: block;
}

.sidebar__circle {
	width: rem(16px);
	height: rem(16px);
	display: inline-block;
	border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
}

.sidebar__point {
	position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
}

.sidebar__circle:hover {
	border-color: #ffffff;
}