.summary__list {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.summary__item {
	text-align: center;
	flex: 1;	
}

.summary__pic {
	padding-bottom: 25px;
}

.summary__subtitle {
	font-family: lifehack;
	font-size: 24px;
	padding-bottom: 5px;	 
}

.summary__text {
	font-family: "ubuntu";
	font-size: 14px;
	font-weight: 400;
	color: #838281;
	line-height: 1.9;
	text-align: center;
}




