.team__content {
  position: absolute;
  left: 51%;
  width: 49%;
  height: 100%;
  background: #303234;
  opacity: .9;
  color: #fff;
  padding-top: 110px;
  padding-left: 95px; }

.team_caption {
  margin-bottom: 45px; }

.accordion__item {
  margin-bottom: 30px;
  width: 90%;
  margin-right: 0px; }

.accordion__item:last-child {
  margin-bottom: 0px; }

.accordion__item--active .accordion__content {
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.accordion__item--active .accordion__trigger {
  color: #dfa43b; }

.accordion__item--active .accordion__trigger:before {
  border-top: 10px solid #dfa43b;
  border-bottom: 0px solid transparent; }

.accordion__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-family: "Gagalin";
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px; }
  .accordion__trigger:before {
    content: "";
    display: block;
    float: left;
    margin-right: 10px;
    border-top: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dfa43b;
    border-left: 10px solid transparent; }

.accordion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: "Ubuntu"; }

.accordion__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100px; }

.accordion__position {
  margin-bottom: 20px;
  font-weight: bold; }
