.team__content {
  position: absolute;
  left: 51%;
  width: 49%;
  height: 100%;
  background: #303234;
  opacity: .9;
  color: #fff;
  padding-top: rem(110px);
  padding-left: rem(95px);
}

.team_caption {
  margin-bottom: rem(45px);
}

.accordion__item {
  margin-bottom: rem(30px);
  width: 90%;
  margin-right: rem(0px);
}

.accordion__item:last-child {
  margin-bottom: rem(0px);
}

.accordion__item--active {
  
  .accordion__content {
    height: rem(100px);
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .accordion__trigger {
    color: #dfa43b;
  }

  .accordion__trigger:before {
    border-top: rem(10px) solid #dfa43b;
    border-bottom: rem(0px) solid transparent;
  }
}

.accordion__trigger {
  display: flex;
  align-items: center;
  font-size: rem(14px);
  font-family: "Gagalin";
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-bottom: rem(20px);
  
  &:before {
  content: "";
  display: block;
  float: left;
  margin-right: rem(10px);
  border-top: rem(0px) solid transparent;
	border-right: rem(10px) solid transparent;
	border-bottom: rem(10px) solid #dfa43b;
	border-left: rem(10px) solid transparent;
  }  
}

.accordion__content {
  display: flex;
  align-items: center;
  height: 0;
  overflow: hidden;
  font-size: rem(14px);
  font-family: "Ubuntu";
  }

.accordion__img {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  margin-right: rem(20px);  
  overflow: hidden;
  flex-basis: 100%;
  max-width: rem(100px);
}

.accordion__position {
  margin-bottom: rem(20px);
  font-weight: bold;
}