.slider {
  display: flex;
  justify-content: center;
	align-items: center;
	width: 500%;	
}

.slider__content {
	display: flex;
	position: relative;
	justify-content: center;
  align-items: center;
	padding: 0 rem(16px);
	width: 100%;
	overflow: hidden;
	transition: right 0.3s; 
}

.slider__item {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	flex-basis: 100%;	
  
  @include tab {
		flex-direction: column;		
	}
}

.slider__content-pic {
	width: 50%;
  text-align: center;
	@include tab {
		text-align: center;
		width: 80%;
	}
	
	@include phon {
		text-align: center;
		width: 100%;
		padding: 20% 10% 0% 10%;
  }
}

.slider__content-img {
	max-width: 95%;	
}

.slider__content-text {
	text-align: left;
	width: 50%;
	
	@include tab {
		text-align: center;
		width: 80%;
	}
	
	@include phon {
		text-align: center;
		width: 100%;
	}
}

.slider__caption {
  color: #fff;
		
	@include tab {
		font-size: rem(50px);
	}
  
	@include phon {
		font-size: rem(45px);		
	}
}

.slider__content-decs {
	font-family: ubuntu;
  font-size: rem(14px);
  line-height: 1.4;
	color: #fff;
	
	@include phon {
		font-size: rem(10px);
		padding: 0% 5%;		
	}
}

.burger__price {
  display: flex;
  align-items: center;

  @include tab {
		justify-content: center;
	}
}

.burger__price-text {
	display: flex;
	align-items: center;
  font-size: rem(71px);
  font-family: "Gagalin";
  color: rgb(227, 80, 40);
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-right: rem(25px);

  @include phon {
    font-size: rem(40px);	
    margin-right: rem(15px);	
	}
}

.burger__price-subtext {
  font-size: rem(30px);
	margin: 0;
	margin-left: 5%;
  padding: 0;
}

.burger__button {
	font-size: rem(14px);
	
	@include phon {
    padding: 5px 10px;	
	}
}
