.container__footer {
  margin: 0 auto;
  position: relative;
  width: rem(1100px);
  min-height: rem(60px);
  padding: rem(0px) rem(80px);
  display: flex;

  @include tab {
    padding: rem(0px) rem(20px);
  }

  @include phon {
    flex-direction: column;
    align-items: center;
  }
}

.footer {
 display: flex;
 position: absolute;
 justify-content: space-between;
 width: 100%;
 min-height: rem(60px);
 bottom: 0;
 background: url(../../ifc/footerbg.png) 
}

.footer__left {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  color: #fff;
  width: 50%;
  min-height: rem(60px); 
  font-size: rem(14px);
  font-family: "Ubuntu";
  text-align: left;
  
  @include tab {
    width: 40%;
  }
  
  @include phon {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
}

.footer__adress {
 white-space: nowrap;
}

.footer__phone {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #e45028;
  font-weight: 500;
  text-decoration: none;

  &:before {
    content: "";
    display: flex;
    width: rem(12px);
    height: rem(12px);
    background: url(../../ifc/phone.png) center center no-repeat;
    margin-right: rem(10px);
  }
}

.footer__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  min-height: rem(60px);

  @include tab {
    width: 40%;
  }

  @include phon {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: rem(20px);

  &:nth-child(4) {
  margin-right: rem(0px);
}
}

.social__link {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: rem(23px);
  height: rem(23px);
}

.social__img-vk {
  display: block;
  width: rem(23px);
  height: rem(23px);
  background: url(../../ifc/fsp.png) rem(-10px) rem(4px) no-repeat;

  &:hover{
    background: url(../../ifc/fsph.png) rem(-10px) rem(4px) no-repeat;
    transition: .5s;
  }
}

.social__img-fb {
  display: block;
  width: rem(23px);
  height: rem(23px);
  background: url(../../ifc/fsp.png) rem(-10px) rem(-23px) no-repeat;

  &:hover{
    background: url(../../ifc/fsph.png) rem(-10px) rem(-23px) no-repeat;
    transition: .5s;
  }
}

.social__img-inst {
  display: block;
  width: rem(23px);
  height: rem(23px);
  background: url(../../ifc/fsp.png) rem(-9px) rem(-53px) no-repeat;
  
  &:hover{
    background: url(../../ifc/fsph.png) rem(-9px) rem(-53px) no-repeat;
    transition: .5s;
  }
}

.social__img-tw {
  display: block;
  width: rem(23px);
  height: rem(23px);
  background: url(../../ifc/fsp.png) rem(-9px) rem(-80px) no-repeat;

  &:hover{
    background: url(../../ifc/fsph.png) rem(-9px) rem(-80px) no-repeat;
    transition: .5s;
  }
}
