.summary__caption {
	@include phon {
    font-size: rem(50px);
  }
}

.summary__list {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

	@include phon {
    flex-direction: column;
  }
}

.summary__item-content {
	@include phon {
		text-align: left;
		margin-left: 10%;
  }
}

.summary__item {
	text-align: center;
	flex: 1;	

	@include phon {
		display: flex;
		align-items: flex-start;
		margin-bottom: 30px;
  }
}

.summary__pic {
	padding-bottom: rem(25px);
}

.summary__img {
	width: rem(90px);
	height: rem(90px);
}
.summary__item-content h4 {
	font-family: lifehack;
	font-size: rem(24px);
	padding-bottom: rem(5px);	
	margin: 0; 
}

.summary__item-content p {
	font-family: "ubuntu";
	font-size: rem(14px);
	font-weight: 400;
	color: #838281;
	line-height: 1.5;
	text-align: center;

	@include phon {
    text-align: left;
  }
}